@import url("https://use.typekit.net/bed6coi.css");

:root {
  --lilla: #782099;
  --lyselilla: #e3acf4;
  --mørkelilla: #231127;

  --lillarød: #b91585;
  --blå: #1a32b8;

  --displayfont: adage-script-jf, sans-serif;
  --tekstfont: adobe-caslon-pro, serif;
}

* {
  color: var(--mørkelilla);
  font-family: var(--tekstfont);
}

h1,
h2 {
  font-family: var(--displayfont);
  font-weight: 400;
  font-style: normal;
}

h1,
h4 {
  color: var(--lilla);
}

img {
  width: 100%;
}

.minfuld {
  min-height: 100vh;
}

.video-square {
  width: 100%;
  transition: all 0.6s;
}

/* Baggrundsfarver */

.bg-lilla {
  background-color: var(--lilla);
}

.bg-lillarød {
  background-color: var(--lillarød);
}

.bg-mørkelilla {
  background-color: var(--mørkelilla);
}

.bg-lilla * {
  color: #fff;
}

.bg-lilla tr,
.bg-lilla tbody {
  border-color: var(--lyselilla) !important;
}

.full-video {
  width: 100%;
  margin-bottom: -6px;
}

.fade-out {
  opacity: 0;
}

.video-bg {
  height: 100%;
  padding: 0 !important;
  background-repeat: no-repeat;
  background-size: contain;
}
.video-bg-appelsin {
  background-image: url(https://victorhegelund.dk/kea/12_content_marketing/glimt/img/appelsin-drink-raw.jpg);
}

.video-bg-baer {
  background-image: url(https://victorhegelund.dk/kea/12_content_marketing/glimt/img/baer-drink-raw.jpg);
}

.video-bg-lime {
  background-image: url(https://victorhegelund.dk/kea/12_content_marketing/glimt/img/lime-drink-raw.jpg);
}

.top-img {
  max-width: 250px;
}

.logo {
  width: 200px;
}

.arrow-down {
  height: 100px;
  width: 100px;
}
